@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --background: 217 76% 12%;
    --foreground: 210 40% 98%;

    --card: 217 60% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 217 76% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 224 64% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 45 65% 51%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32.6% 17.5%;
    --input: 217 32.6% 17.5%;
    --ring: 45 65% 51%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217 76% 12%;
    --foreground: 210 40% 98%;

    --card: 217 60% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 217 76% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 224 64% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 45 65% 51%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 32.6% 17.5%;
    --input: 217 32.6% 17.5%;
    --ring: 45 65% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
